/* ====================== COE-SCALD (2025-12-30) =======================*/
body { font-family: 'Lucida Sans Unicode','Lucida Grande', sans-serif; background-color: #FFFFFF; color: #002855;}

.coe-scald-navbar-container { box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); }
.coe-scald-navbar { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #1A3E68}
.coe-scald-navbar li { float: left;}
.coe-scald-navbar li a { text-transform:uppercase; display: block; color:#ffffff; text-align: center; text-decoration: none; padding:14px 14px; border-left: #CCD4E0; border-left-style: solid; border-width: 1px; }
.coe-scald-navbar li a:hover { background-color: #ffbf00; color:#1e4778;}
