/* ====================== COE-SCALD (2025-12-30) =======================*/
body { font-family: 'Lucida Sans Unicode','Lucida Grande', sans-serif; background-color: #FFFFFF; color: #002855;}

.coe-navbar { background-color: #1e4778;}

.et-navbar-container { box-shadow: 5px 5px 5px #888888; }
.et-navbar { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #1A3E68}
.et-navbar li { float: left;}
.et-navbar li a { text-transform:uppercase; display: block; color:#ffffff; text-align: center; text-decoration: none; padding:14px 14px; border-left: #CCD4E0; border-left-style: solid; border-width: 1px; }
.et-navbar li a:hover { background-color: #ffbf00; color:#1e4778;}

/* ==================== Main Section =========================*/
.coe-main { min-height: 400px;}

